/* 폰트 import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* (*)을 통해 전체적용 */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* margin, padding 0px로 고정 */
body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1{
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size:20px;
    font-weight: lighter;
    font-style: italic;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
   
.mainbox{
    margin: 0 auto;
    width:800px;
    height: 600px;
    margin: 0 auto; /* 가운데 정렬 */
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1); /* 박스 그림자 */
}

section {
    margin-bottom: 20px;
}

.name-text {
    font-size:15px;
    color: #7c7c7c;
    font-weight: bold;
}

.about-me-text {
    font-size: 10px;
    line-height: 15px;
}

.desc-text {
    font-size: 10px;
    color: #282828;
}

.desc-subtext {
    font-size: 10px;
    color: #282828;
    padding-left: 15px;
}

/* float: 한 줄에 title과 year를 표기하려고 사용 but 다른 요소들과 겹쳐 보이게 됨 */
.title-text {
    font-size: 10px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 10px;
    font-weight: bold;
    color: #282828;
    float: right;
}

/* float가 겹쳐 보이지 않도록 overflow를 hidden으로 설정 */
.float-wrap {
    overflow: hidden;
}

.title-box {
    text-align: right;
}

.sns-img {
    width: 15px;
    height: 15px;
}

.sns-wrap {
    text-align: right;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    font-size: 12px;
    color: #919191;
}